<h1>New Game</h1>
<%# <div flexbox="true" flex-direction=row> %>
  <p>Here are your letters: <%= @user_input %></p>

<p>Your word is <%= @validation %>!</p>

<%= link_to "Play again", new_path, class: 'btn btn-primary mt-3' %>
<%# </div> %>
